.logo-rodo{
    height: 50px;
    width: 225px;
}
.navbar-brand,.px-0{
    padding: 0 !important;
}

.avatarImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.center-flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.justify-content-end{
    display: flex;
    justify-content: end;
    align-items: center;
}