.logo-rodo{
    height: 50px;
    width: 250px;
}
.navbar-brand,.px-0{
    padding: 0 6px !important;
}

.avatarImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.center-flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.justify-content-end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.justify-content-around{
    display: flex;
    justify-content: space-around;

}

.bg_form , p{
    background-color: #8191A1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    color: whitesmoke;
    margin-top: 10px !important;
}
.bg_form2, .bg_form2 p{
   background-color: #F3F5F6 ; 
   text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    color: #363636;
    margin-top: 10px !important;
}
.radio-grau-ml .radio{
   margin-left: 20px !important;
}
.label-gray{
    background-color: #8191A1;
}
